{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <title>Django blog api</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div id="page-container">
      {% if not user.is_authenticated %}
      Django blog api
      {% else %}
      Django blog api logged in
      {% endif %}
    </div>
  </body>
</html>
